:host {
  display: block;
}

.toolbar-custom {
  display: flex;
  justify-content: space-between;
  background: none;
  background-color: var(--header-color);

  .toolbar-content {
    display: flex;
    gap: 12px;
    align-items: center;

    .title-container {
      display: flex;
      flex-direction: column;

      .title {
        font-weight: 700;
      }

      .sub-title {
        font-size: 12px;
        color: #666;
      }
    }
  }

  .wrapper-content {
    display: flex;
    gap: 12px;
    align-items: center;
  }
}

.mat-mdc-row:hover {
  background-color: #f0f0f0;
  /* Or your desired hover color */
  cursor: pointer;
}
