<mat-toolbar class="toolbar-custom" [style.background-color]="bgColor"
    [style.color]="theme === 'dark' ? 'white' : 'black'">
    <div class="toolbar-content">
        <button mat-icon-button class="example-icon" *ngIf="backButton" (click)="clickBack()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <div class="title-container">
            <span class="title">{{title}}</span>
            @if (subTitle) {
            <span class="sub-title">{{subTitle}}</span>
            }
        </div>
    </div>
    <div class="wrapper-content">
        <ng-content></ng-content>

        <flux-user-account-dialog [theme]="theme" />
    </div>

</mat-toolbar>
