.status-chip-container {
    width: fit-content;
    padding: 0 10px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    overflow: hidden;

    span {
        // max-width: 100;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &.success {
        background-color: #D4EDBC;
        color: #11735D;
    }

    &.error {
        background-color: #FFCFC9;
        color: #B10202;
    }

    &.warning {
        background-color: #ffed89;
        color: #8b7200;
    }

    &.no-status-pending {
        background-color: #F0F0F0;
        color: #808080;
    }

}