:host {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px 16px;
}

::ng-deep [toolbarStart],
::ng-deep [toolbarEnd] {
  display: flex;
  align-items: center;
  gap: 12px;
  min-width: 0;
}

.spacer {
  flex: 1;
}
