<div class="flux-input" [class.has-error]="error" [class.disabled]="disabled()">
  <input
    [type]="inputType"
    [placeholder]="placeholder"
    [autocomplete]="autocomplete"
    [disabled]="disabled()"
    [value]="value()"
    (input)="onInput($event)"
    (blur)="markTouched()"
  />
  @if (type === 'password') {
    <button
      type="button"
      class="toggle-btn"
      (click)="togglePasswordVisibility()"
      [attr.aria-label]="hidePassword() ? 'Mostrar contraseña' : 'Ocultar contraseña'"
    >
      <mat-icon>{{ hidePassword() ? 'visibility' : 'visibility_off' }}</mat-icon>
    </button>
  }
</div>
@if (error) {
  <span class="flux-input-error">{{ error }}</span>
}
